<div class="container-fluid" style="background-color: black">
	<h1 style=" color: white; text-align: center;">Video Streaming Page</h1>
	<hr style="background-color: white">
	<br>
	<div class="border border-secondary" ng-repeat="video in videos" style="margin-top: 25px;" >
		<h3 style=" text-align: center; margin-left: 12.5%;  color: white;">
			{{video.$id}}
		</h3>
		<div  style=" pointer-events: none; text-align: center">
		<youtube-video video-id="video.UniqueId" player ="bestPlayer" player-width="'75%'" ></youtube-video>
		</div>
		<hr>
		<div class="row" style=" text-align: center; margin-left: 12.5%;margin-right: 12.5%;">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<button class=" btn btn-primary " ng-click="bestPlayer.playVideo()">Play</button>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<button class="btn btn-primary " ng-click="bestPlayer.pauseVideo()">Stop</button>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<button class="btn btn-primary " ng-click="bestPlayer.setSize(width,height)">Full Screen</button>
			</div>
		<!-- 	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<button class="btn btn-primary " ng-click="bestPlayer.setPlaybackQuality(hd720)">Playback Speed</button>
			</div>
 -->
		</div>
		<br>
		<br>
	
	</div>
	<!-- <ng-youtube-embed 
    video="videoID" 
    autoplay="false"
    rel ="false"
    color="white"
    controls = "true"
    enablejsapi ="true"
    >
</ng-youtube-embed>
<button id="play-button" class="btn btn-primary">Play</button>
<button id="pause-button" class="btn btn-primary">Pause</button> -->
</div>

<script >

  //   var player;

  //   function onYouTubePlayerAPIReady() {
  //     // create the global player from the specific iframe (#video)
  //     player = new YT.Player('video', {
  //       events: {
  //         // call this function when player is ready to use
  //         'onReady': onPlayerReady
  //       }
  //     });
  //   }
  //   function onPlayerReady(event) {
  
  // // bind events
  //     var playButton = document.getElementById("play-button");
  //     playButton.addEventListener("click", function() {
  //       player.playVideo();
  //     });
      
  //     var pauseButton = document.getElementById("pause-button");
  //     pauseButton.addEventListener("click", function() {
  //       console.log("cliclked");
  //       player.pauseVideo();
  //     });
      
  //   }

</script>